.header {
	display: flex;
	align-items: center;
	padding: 45px 100px;
}

.logo {
	width: 33px;
	margin-right: 8px;
}

.title {
	margin-right: 27px;
	font-size: 36px;
	font-weight: 600;
	color: var(--primary, #C92071);
}

.search {
	margin-right: 48px;
}

.link {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: var(--dark-gray-medium);

	transition: color 0.4s ease-in-out;
}

.link:hover {
	color: var(--primary);
}

.button {
	margin-right: 70px;
}
