.wrapper {
	display: grid;
	grid-template:
		". header  ." auto
		". sidebar ." auto
		". body  ." auto
		"footer footer footer" auto /
		auto minmax(320px, 1200px) auto;
	gap: 0 30px;
	min-height: 100vh;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}

@media (width <=765px) {
	.wrapper {
		grid-template-areas:
			"header"
			"body"
			"footer";
		grid-template-columns: minmax(320px, 1fr);

	}

	.sidebar {
		display: none;
	}

	.header {
		display: block;
	}

	.body {
		padding: 15px;
	}
}
