button:disabled {
  cursor: not-allowed;
}

.button {
  /* padding: 9px 54px; */
  width: 158px;
  height: 40px;
  margin: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;

  border-radius: 8px;
}

.buttonIcon,
.buttonPrimary {
  color: var(--light-gray-light);
  background-color: var(--primary);
}

.buttonIcon:hover,
.buttonPrimary:hover {
  background-color: var(--tertiary);
}

.buttonSecondary {
  color: var(--primary);
  background-color: var(--light-gray-light);
}

.buttonSecondary:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.buttonShop {
  color: var(--light-gray-light);
  background-color: #ffb31f;
}

.buttonShop:hover {
  background-color: #cf8900;
}

.buttonIcon:disabled,
.buttonPrimary:disabled,
.buttonShop:disabled {
  color: var(--light-gray-light);
  background-color: var(--light-gray);
}

.buttonSecondary:disabled {
  color: var(--primary);
  opacity: 0.5;
  border: 1px solid var(--primary);
}
