.dots {
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;

	display: flex;
	justify-content: center;

	padding: 20px 0;
}

.dots .dot {
	width: 10px;
	height: 10px;
	margin: 5px;

	background-color: #CCC;
	border-radius: 5px;
}

.dots .dot:hover {
	cursor: pointer;
}

.dots .dot.selected {
	background-color: var(--primary);
}
