.search {
	position: relative;

	display: flex;


	width: 100%;
	padding: 16px 24px;

	background-color: var(--light-gray-light);
	border-radius: 8px;

	transition: box-shadow 0.4s ease-in-out;
}


.input {
	width: 100%;
}

.search:hover {
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}
