.footer {
  height: 454px;
  padding: 22px 100px;
  color: var(--white);
  background-color: var(--dark-gray);
}

.footerContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.footerColumns {
  display: flex;
  justify-content: center;
}

.footerColumn:first-child {
  flex: 1 1 100%;
}

.columnLogo {
  font-size: 36px;
}
