.footer {
  color: var(--white);
  background-color: var(--dark-gray);
}

.footerContainer {
  display: grid;
  grid-template:
    ". columns ." auto /
    auto minmax(320px, 1200px) auto;
  gap: 0 30px;
}

.footerColumns {
  display: flex;
  grid-area: columns;
  justify-content: center;
}

.footerColumn:first-child {
  flex: 0 1 100%;
}

.columnLogo {
  font-size: 36px;
  letter-spacing: -0.01em;
}

.columnTitle {
  margin-bottom: 28px;
}

.footer li {
  line-height: 26px;
}

.footer a {
  line-height: 38px;
  color: var(--white);
  white-space: nowrap;
}

.footer a:hover {
  color: var(--primary);
  text-decoration: underline;
  transition: 0.2s;
}
