.h1 {
	font-size: 64px;
	font-weight: 400;
	line-height: 66px;
}

.h2 {
	font-size: 48px;
	font-weight: 400;
	line-height: 50px;
}

.h3 {
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
}

.h4 {
	font-size: 28px;
	font-weight: 400;
	line-height: 36px;
}
